*{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

.container{

    width: 100%;
    text-align: center;
}
.nav{
    background-color:#00AEEF;
    height: 50px;
    text-align: left;
    color:white;
    padding: 15px;
}

.nav .logo{
    float:left;
    width:90px;
    text-align: center;

}
.nav .logo img{
    width: 50px;
}

.nav ul{    
     float:right; 
}

.nav ul li{
    
    display:inline-block;
    width:120px;
    height:20px;
    padding: 10px; 
    text-align: center;
}

.ciudades{
    outline: 0;
    border:0;
    background-color:#00AEEF;
    color:white;
    font-family: 'Montserrat', sans-serif; 
    font-size:1em;
}

#inicia_sesion{
    text-decoration: none;
    color: white;
    display: inline-block;
    width:120px;
    height: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: red;
}
#inicia_sesion:hover{
    box-shadow: 1px 1px 5px black;
}
